API_ID=21927988
API_HASH=e18f720acdff1e5b0ec80616aecd8a5a
BOT_TOKEN=5863608616:AAHDze-EBawvpLD5fwIEkAZHj3JN3rBY_qM
MONGO_DB_URI=mongodb+srv://plumblossmsword:FezjVxmt8heHCkzq@telegram.oqgcehg.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001859171071
MUSIC_BOT_NAME=Rumiko
STRING_SESSION=BQBlrgWWbDaG6LaqEJigx_zs_RxrNxc7lctXUTX5VKcvtwVkdjmmbZPRV1CXx_gnrYnzjJ_Avtp7v5foWTCitbf0rekwRgnNFNggsw1fbFQTaeFZ8M0J-zujFNi7Vdg3BFsj4Hgm_q3-iyH9m7--RXGXoDyshExBhCHhppwkHozBuofZNtjZRQ5JbHrfTjcPJwT1vE_xnm3fwivKAbRvfA6SheLMrKDV6Mu9IeVqkItdhbE5W_EmPEhuQ0vFJZqMqr5vYM53HZu6I3iAr3BT6pNS32HDPPLqasTvymWteEODBX6GOz1m1lTM1IC4U1-7BM8_Zyxdacn86bv_w5dJoaMxQ3JaGgA
